<%= form_with(model: lavanderium) do |form| %>
  <% if lavanderium.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lavanderium.errors.count, "error") %> prohibited this lavanderium from being saved:</h2>

      <ul>
        <% lavanderium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :item, style: "display: block" %>
    <%= form.text_field :item %>
  </div>

  <div>
    <%= form.label :comprado, style: "display: block" %>
    <%= form.check_box :comprado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
