# <p style="color: green"><%= notice %></p>

# <%= render @lavanderium %>

# <div>
#   <%= link_to "Edit this lavanderium", edit_lavanderium_path(@lavanderium) %> |
#   <%= link_to "Back to lavanderia", lavanderia_path %>

#   <%= button_to "Destroy this lavanderium", @lavanderium, method: :delete %>
# </div>
