<p style="color: green"><%= notice %></p>

<%= render @cozinha %>

<div>
  <%= link_to "Edit this cozinha", edit_cozinha_path(@cozinha) %> |
  <%= link_to "Back to cozinhas", cozinhas_path %>

  <%= button_to "Destroy this cozinha", @cozinha, method: :delete %>
</div>
