# <p style="color: green"><%= notice %></p>

# <%= render @banheiro %>

# <div>
#   <%= link_to "Edit this banheiro", edit_banheiro_path(@banheiro) %> |
#   <%= link_to "Back to banheiros", banheiros_path %>

#   <%= button_to "Destroy this banheiro", @banheiro, method: :delete %>
# </div>
